#banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  background-image: url("../img/banner-tree.jpg");
  
  padding: 0;
  margin: 0;
}

@include media-breakpoint-up(xl) {
  #banner {
    background-attachment: fixed;
  }
}

#banner .skew-bg {
  background: linear-gradient(150deg,#23631c 15%,#00b3aa 70%,#0099e6 94%);
  opacity: 0.5;
}

#banner .navbar {
  padding: 1rem 0;
}

#banner .navbar-brand img {
  height: 1.8rem;
  position: relative;
  bottom: 0.4rem;
}

#banner .navbar-brand .text-you {
  font-weight: 600;
  font-size: 0.7em;
}

#banner .navbar .navbar-toggler  {
  color: white;
  border-color: rgba(255,255,255,.5);
}

#banner .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
}

#banner .text-area {
  padding-top: 3rem;
  padding-bottom: 10rem;
}

@include media-breakpoint-up(md) {
  #banner .text-area {
    padding-top: 4rem;
    padding-bottom: 12rem;
  }
}

@include media-breakpoint-up(xl) {
  #banner .text-area {
    padding-top: 8rem;
    padding-bottom: 18rem;
  }
}

#demo {
  width: 240px;
  position: relative;
  top: -7.25rem;
  left: 1rem;
  transform: rotate(-12deg);
  /* transform-origin: 100% 0; */
  z-index: 1;
}

@include media-breakpoint-up(sm) {
  #demo {
    position: absolute;
    left: 60%;
    top: 22rem;
  }
}

@include media-breakpoint-up(md) {
  #demo {
    width: 280px;
    position: absolute;
    left: 60%;
    top: 18rem;
  }
}

@include media-breakpoint-up(lg) {
  #demo {
    width: 320px;
    position: absolute;
    left: 60%;
    top: 14rem;
  }
}

@include media-breakpoint-up(xl) {
  #demo {
    width: 360px;
    position: absolute;
    left: 60%;
    top: 18rem;
  }
}

#demo .refresh {
  /* display: table-cell;
  vertical-align: middle; */
  line-height: 50px;
}

#how {
  position: relative;
  top: -6rem;
}

@include media-breakpoint-up(sm) {
  #how {
    top: 0;
  }
}

#how .skew-bg {
  background-color: white;
}

#how .container {
  padding-top: 4rem;
}

@include media-breakpoint-up(sm) {
  #how .container {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}

@include media-breakpoint-up(md) {
  #how .container {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}

@include media-breakpoint-up(lg) {
  #how .container {
    padding-top: 4rem;
    padding-bottom: 16rem;
  }
}

@include media-breakpoint-up(xl) {
  #how .container {
    padding-top: 4rem;
    padding-bottom: 22rem;
  }
}

#how .img-bullet {
  width: 5rem;
}

#how .step-text {
  padding-left: 1.5rem;
}

#how .note {
  padding-left: 1em;
  text-indent: -0.7em;
}

#why {
  padding-bottom: 5rem;
  background-color: #f6f9fc;
}

@include media-breakpoint-up(md){
  #why {
    padding-bottom: 4rem;
  }
}

#why .skew-bg-follow {
  background-color: #f6f9fc;
}

#why .skew-bg-follow > :first-child {
  width: 15%;
  height: 4rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d6eef5;
}

@include media-breakpoint-up(lg) {
  #why .skew-bg-follow > :first-child {
    height: 5rem;
  }
}

@include media-breakpoint-up(xl) {
  #why .skew-bg-follow > :first-child {
    height: 6rem;
  }
}

#why .container {
  margin-top: 3rem;
}

@include media-breakpoint-up(sm) {
  #why .container {
    margin-top: 0;
  }
}

@include media-breakpoint-up(md) {
  #why .container {
    margin-top: -1rem;
  }
}

@include media-breakpoint-up(lg) {
  #why .container {
    margin-top: -2rem;
  }
}

@include media-breakpoint-up(xl) {
  #why .container {
    margin-top: -4rem;
  }
}

#why .img-bullet {
  width: 4rem;
}

#community-carousel-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60%;
  right: 0;
  transform: skewY(-12deg);
}

#community-carousel-bg :nth-child(1) {
  width: 103%;
  height: 4rem;
  background-color: #d6eef5;
  
}

#community-carousel-bg :nth-child(2) {
  width: 200%;
  height: 5rem;
  background-color: #d6f5dd;
  
}

@include media-breakpoint-up(lg) {
  #community-carousel-bg :nth-child(1) {
    height: 5rem;
    
  }
  
  #community-carousel-bg :nth-child(2) {
    height: 6rem;
    
  }
}

@include media-breakpoint-up(xl) {
  #community-carousel-bg :nth-child(1) {
    height: 6rem;
    
  }
  
  #community-carousel-bg :nth-child(2) {
    height: 7rem;
    
  }
}

#community-carousel {
  overflow: hidden;
  border-radius: .25rem;
  box-shadow: 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
  /* box-shadow: -16.2px 62.5px 125px -25px rgba(50,50,93,.15), -16.2px 37.5px 75px -37.5px rgba(0,0,0,.3); */
}

#community-carousel .carousel-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #007399;
  opacity: 0.6;
}

#community-carousel .carousel-caption {
  left: 6%;
  right: 6%;
  bottom: 0;
  padding-bottom: .5rem;
  line-height: 1.2;
}

#integration {
  background-color: #f6f9fc;
  overflow: hidden;
}

#integration > .container  {
  padding-bottom: 2rem; 
}

@include media-breakpoint-up(sm) {
  #integration > .container {
    padding-bottom: 3rem;
  }
}

@include media-breakpoint-up(md) {
  #integration > .container {
    padding-bottom: 4rem;
  }
}

@include media-breakpoint-up(lg) {
  #integration > .container {
    padding-bottom: 5rem;
  }
}

@include media-breakpoint-up(xl) {
  #integration > .container {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
}

.demo-alt-wrapper {
  perspective: 1000px;
}

#demo-alt-1 {
  width: 40rem;
  position: relative;
  left: -20rem;
  transform-style: preserve-3d;
  transform: rotate3d(.5, 1, 0, 30deg);
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), -27.1px 62.5px 125px -25px rgba(50,50,93,.5), -16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
}

#demo-alt-2 {
  width: 18rem;
  position: relative;
  right: -5rem;
  transform-style: preserve-3d;
  transform: rotate3d(.5, -1, 0, 30deg);
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 27.1px 62.5px 125px -25px rgba(50,50,93,.5), -16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
}

#demo-alt-3 {
  width: 22rem;
  position: relative;
  top: 1rem;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 62.5px 125px -25px rgba(50,50,93,.5), 0 37.5px 75px -37.5px rgba(0,0,0,.6);
}

#demo-alt-3 .img-terms {
  width: 4rem;
  opacity: .5;
}

@include media-breakpoint-up(sm) {
  #demo-alt-1 {
    left: -9rem;
    top: 8rem;
  }

  #demo-alt-2 {
    right: -2rem;
    top: 4rem;
  }

  #demo-alt-3 {
    left: -1rem;
  }
}

@include media-breakpoint-up(md) {
  #demo-alt-1 {
    left: -8rem;
    top: 8rem;
  }

  #demo-alt-2 {
    right: -2rem;
    top: 4rem;
  }

  #demo-alt-3 {
    left: -1rem;
  }
}

@include media-breakpoint-up(lg) {
  #demo-alt-1 {
    left: -4rem;
    top: 8rem;
  }

  #demo-alt-2 {
    right: -2rem;
    top: 4rem;
  }

  #demo-alt-3 {
    left: 1rem;
  }
}

@include media-breakpoint-up(xl) {
  #demo-alt-1 {
    left: 0;
    top: 8rem;
  }

  #demo-alt-2 {
    right: 0;
    top: 4rem;
  }

  #demo-alt-3 {
    left: 4rem;
  }
}

#join {
  background: linear-gradient(150deg,#153c11 15%,#008079 70%,#0077b3 94%);
}


#join > .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@include media-breakpoint-up(sm) {
  #join .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@include media-breakpoint-up(md) {
  #join .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@include media-breakpoint-up(lg) {
  #join .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@include media-breakpoint-up(xl) {
  #join .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}